PORT=4000
MONGO_URI=mongodb+srv://<user>:<pass>@cluster0.mongodb.net/synctalk?retryWrites=true&w=majority
ACCESS_TOKEN_SECRET=replace_with_strong_random
REFRESH_TOKEN_SECRET=replace_with_strong_random
FRONTEND_URL=http://localhost:5173
NODE_ENV=development
